<div class="toast-container">
    <div 
      *ngFor="let toast of toasts" 
      class="toast"
      [ngClass]="'toast-' + toast.type">
      <div class="toast-icon">
        <i [ngClass]="getIconClass(toast.type)"></i>
      </div>
      <div class="toast-content">
        <h4>{{ toast.title }}</h4>
        <p *ngIf="toast.message">{{ toast.message }}</p>
      </div>
      <button class="toast-close" (click)="closeToast(toast.id!)">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  